Practice Lab

In [ ]:
# Assign a list using brackets, with elements separated by commas.
y = ["Hello", "you", "are", "easting", "Food", 9, "ingredients"]
# Print element at index 4.
print(y [4])

Food

In [ ]:
# Trying to access an index not in list
print(x[8])

NameError: name 'x' is not defined

In [ ]:
# Access part of a list (Slicing) y [2:3]
y[:3]

['Hello', 'you', 'are']

In [ ]:
y[2:]

['are', 'easting', 'Food', 9, 'ingredients']

In [ ]:
type(y)

list

In [ ]:
y = ["Hello", "you", "we", "easting", "Food", 9, "ingredients"]
"WE" in y

False

Manipulate List Content

In [ ]:
# add an element the end of a list.
fruits = ['Orange', 'Blueberry', 'Apple', 'Melon']
fruits.append('Banana')
print (fruits)

['Orange', 'Blueberry', 'Apple', 'Melon', 'Banana']

In [ ]:
fruits.insert(2, 'Cherry')
print (fruits)

['Orange', 'Blueberry', 'Cherry', 'Apple', 'Melon', 'Banana']

In [ ]:
fruits.remove('Apple')
print (fruits)

['Orange', 'Blueberry', 'Cherry', 'Melon', 'Banana']

In [ ]:
fruits.insert(0, 'Apple')
print (fruits)

['Apple', 'Orange', 'Blueberry', 'Cherry', 'Melon', 'Banana']

In [ ]:
fruits.remove('Lemon')

ValueError: list.remove(x): x not in list

In [ ]:
fruits.pop(2)
print (fruits)

['Apple', 'Orange', 'Cherry', 'Melon', 'Banana']

Tuples

In [ ]:
fullname = ('John', 'M', 'Bright')
fullname[2] = 'Brown'
print(fullname)

TypeError: 'tuple' object does not support item assignment

In [ ]:
fullname = fullname + ('Jr',)
print(fullname)

('John', 'M', 'Bright', 'Jr')

In [ ]:
fullname = ('John', 'M', 'Bright')
fullname tuple(fullname)
print(fullname)

SyntaxError: invalid syntax (<ipython-input-16-70a1d8fd1735>, line 2)

In [ ]:
# Functions that return more than one value return them in a tuple.
def fahrenheit_to_celsius(fahrenheit):
  """
  Converts temperature from Fahrenheit to Celsius.

  Args:
  fahrenheit: The temperature in Fahrenheit.

  Returns:
  The temperature in Celsius.
  """


  celsius = (fahrenheit - 32) * 5/9
  return celsius, fahrenheit

In [ ]:
fahrenheit_to_celsius(6)

(-14.444444444444445, 6)

In [ ]:
# "Unpacking" a tuple
celsius, fahrenheit = fahrenheit_to_celsius (6)

print(celsius)
print (fahrenheit)

-14.444444444444445
6

In [ ]:
type (celsius)

float

In [ ]:
soccer_players = [
("Lionel Messi", 35, "Forward"),
("Cristiano Ronaldo", 37, "Forward"),
("Neymar Jr", 30, "Forward"),
("Kylian Mbappé", 23, "Forward"),
("Kevin De Bruyne", 31, "Midfielder"),
("Virgil van Dijk", 31, "Defender"),
("Erling Haaland", 22, "Forward"),
("Mohamed Salah", 30, "Forward"),
("Robert Lewandowski", 34, "Forward"),
("Alisson Becker", 30, "Goalkeeper")
]

In [ ]:
for name, age, position in soccer_players:
 print(name, age)

Lionel Messi 35
Cristiano Ronaldo 37
Neymar Jr 30
Kylian Mbappé 23
Kevin De Bruyne 31
Virgil van Dijk 31
Erling Haaland 22
Mohamed Salah 30
Robert Lewandowski 34
Alisson Becker 30

In [ ]:
def player_position(players):
 result = []
 for name, age, position in players:
  result.append('Name: {:>19} \nPosition: {:>15}\n'.format(name, position))
 return result

In [ ]:
for player in player_position (soccer_players):
  print(player)

Name:        Lionel Messi
Position:         Forward

Name:   Cristiano Ronaldo
Position:         Forward

Name:           Neymar Jr
Position:         Forward

Name:       Kylian Mbappé
Position:         Forward

Name:     Kevin De Bruyne
Position:      Midfielder

Name:     Virgil van Dijk
Position:        Defender

Name:      Erling Haaland
Position:         Forward

Name:       Mohamed Salah
Position:         Forward

Name:  Robert Lewandowski
Position:         Forward

Name:      Alisson Becker
Position:      Goalkeeper

Dictionaries

In [ ]:
capitals = {
'London': 'United Kingdom',
'Paris': 'France',
'Berlin': 'Germany',
'Rome': 'Italy',
'Madrid': 'Spain',
'Tokyo': 'Japan',
'Beijing': 'China',
'New Delhi': 'India'
}

# Selecting the `pen_2` key returns `zebras`, the value stored at that key.
capitals ['Berlin']

'Germany'

In [ ]:
capitals ['China']

KeyError: 'China'

In [ ]:
capitals_dict = dict([('London', 'United Kingdom'),
('Paris', 'France'),
('Berlin', 'Germany'),
('Rome', 'Italy'),
('Madrid', 'Spain'),
('Tokyo', 'Japan'),
('Beijing', 'China'),
('New Delhi', 'India')])
capitals_dict

{'London': 'United Kingdom',
 'Paris': 'France',
 'Berlin': 'Germany',
 'Rome': 'Italy',
 'Madrid': 'Spain',
 'Tokyo': 'Japan',
 'Beijing': 'China',
 'New Delhi': 'India'}

In [ ]:
capitals_dict['Tokyo']

'Japan'

In [ ]:
capitals_dict['Jordan'] = 'Amman'
capitals_dict

{'London': 'United Kingdom',
 'Paris': 'France',
 'Berlin': 'Germany',
 'Rome': 'Italy',
 'Madrid': 'Spain',
 'Tokyo': 'Japan',
 'Beijing': 'China',
 'New Delhi': 'India',
 'Jordan': 'Amman'}

In [ ]:
capitals_dict[2]

KeyError: 2

In [ ]:
print('Amman' in capitals_dict)
print('Tokyo' in capitals_dict)

False
True

In [ ]:
soccer_players = [
 ("Lionel Messi", 35, "Forward"),
 ("Cristiano Ronaldo", 37, "Forward"),
 ("Neymar Jr", 30, "Forward"),
 ("Kylian Mbappé", 23, "Forward"),
 ("Kevin De Bruyne", 31, "Midfielder"),
 ("Virgil van Dijk", 31, "Defender"),
 ("Erling Haaland", 22, "Forward"),
 ("Mohamed Salah", 30, "Forward"),
 ("Robert Lewandowski", 34, "Forward"),
 ("Alisson Becker", 30, "Goalkeeper")
 ]

In [ ]:
for x in soccer_players:
 print(x)

('Lionel Messi', 35, 'Forward')
('Cristiano Ronaldo', 37, 'Forward')
('Neymar Jr', 30, 'Forward')
('Kylian Mbappé', 23, 'Forward')
('Kevin De Bruyne', 31, 'Midfielder')
('Virgil van Dijk', 31, 'Defender')
('Erling Haaland', 22, 'Forward')
('Mohamed Salah', 30, 'Forward')
('Robert Lewandowski', 34, 'Forward')
('Alisson Becker', 30, 'Goalkeeper')

Set

In [ ]:
x = set(['foo', 'test', 'baz', 'test'])
print(x)

{'foo', 'baz', 'test'}

In [ ]:
set(('foo', 'test', 'baz', 'test'))
print(x)

{'foo', 'baz', 'test'}

In [ ]:
x = set('test')
print(x)

{'t', 'e', 's'}

In [ ]:
x = { 'foo'}
print(type(x))

<class 'set'>

In [ ]:
x = {'test'}
print(x)

{'test'}

In [ ]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}
print(set1.intersection (set2))
print(set1 & set2)

{4, 5, 6}
{4, 5, 6}

In [ ]:
x1 = {'foo', 'baz', 'baz'}
x2 = {'baz', 'test', 'quux'}
print(x1.union (x2))
print(x1 | x2)

{'foo', 'test', 'quux', 'baz'}
{'foo', 'test', 'quux', 'baz'}

In [ ]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}
print(set1.difference (set2))
print(set1 - set2)

{1, 2, 3}
{1, 2, 3}

In [ ]:
print(set2.difference (set1))
print(set2 - set1)

{8, 9, 7}
{8, 9, 7}

In [ ]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}
set2.symmetric_difference (set1)
set2 ^ set1

{1, 2, 3, 7, 8, 9}